.input_plain {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dropdown_fixed {
  left: 490px!important;
  top: -20px!important;
}

.ads {
  margin-top: 7.42857143em;
  position: relative;
  bottom: 18px;
  margin-bottom: 30px;
}

.ads_module {
  padding: 2.78571429em 0;
}

.ads_module .ads_op {
  margin-bottom: 35px;
}

.ads_module .ads_op.high_class {
  margin-bottom: 35px;
  border: 1px solid #eeeeee;
  padding: 15px;
  background-color: #f0f0f0;
}

.ads_module .ads_op a  {
  float: left;
  color: #666666;
}
.ads_module .ads_op a .image_container  {
  float: left;
  margin-bottom: 5px;
}
.ads_module .ads_op a .image_container img  {
  float: left;
}
.ads_module .ads_op a .title_container {
  float: left;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.ads_module .ads_op a .text_title {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  color: #888888;
}
.ads_module .ads_op a .text_url {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  color: #c51e32;
}
.ads_module .ads_op a .price_container {
  text-align: left;
  width: 100%;
  float: left;
}

.main_home_block .col-md-2.ads{
  margin-top: 4.5em;
}
.msg_list_item {
  margin-bottom: 25px;
  padding: 30px 10px;
}
.msg_list_item:nth-child(even){
  border: 1px solid #f5f4f4;
  background-color: #ffffff;
}
.msg_list_item:nth-child(odd){
  border: 1px solid #f5f4f4;
  background-color: #fffdfd;
}


.fav-button {
  font-size: 0.957143em!important;
  padding-left: 15px;
}

.chart_wrapp {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
.amcharts-chart-div a {
  display: none!important;
}
