/* ------------------------------------------------------------------ */
/* ------------------ General CSS Styling --------------------------- */
/* ------------------------------------------------------------------ */

/* pad comes from the word "padding" and not from PAD or... ipad! */
.pad0{padding:0px !important}.pad3{padding:3px;}.pad5{padding:5px;}.pad10{padding:10px;}.pad15{padding:15px;}.pad20{padding:20px;}.pad30{padding:30px;}

.marg0{margin:0px !important}.marg3{margin:3px}.marg5{margin:5px;}.marg10{margin:10px;}.marg15{margin:15px;}.marg20{margin:20px;}.marg30{margin:30px;}

.auto-margin-0{margin:0 auto !important}.auto-margin-5{margin:5px auto}.auto-margin-10{margin:10px auto}.auto-margin-15{margin:15px auto}.auto-margin-20{margin:20px auto}.auto-margin-30{margin:30px auto}

/* height */
.h3{height:3px;}.h5{height:5px;}.h10{height:10px;}.h15{height:15px;}.h20{height:20px;}.h30{height:30px;}.h40{height:40px;}.h50{height:50px;}.h100{height:100px;}.h200{height:200px;}.h250{height:250px;}.h300{height:300px;}.h450{height:450px;}.h500{height:500px}.h800{height:800px}
/*width*/
.w25{width:25px;}.w50{width:50px;}.w75{width:75px;}.w100{width:100px;}.w125{width:125px;}.w150{width:150px;}.w175{width:175px;}.w200{width:200px;}.w215{width:215px;}.w240{width:240px;}.w250{width:250px;}.w300{width:300px;}.w450{width:450px;}.w500{width:500px;}.w800{width:800px;}.w960{width:960px;}

/* margin-bottom */
.b0{margin-bottom:0px}.b3{margin-bottom:3px}.b5{margin-bottom:5px}.b10{margin-bottom:10px}.b15{margin-bottom:15px}.b20{margin-bottom:20px}.b30{margin-bottom:30px}.b60{margin-bottom:60px}
/* margin-top */
.t0{margin-top:0px}.t3{margin-top:3px}.t5{margin-top:5px}.t10{margin-top:10px}.t15{margin-top:15px}.t20{margin-top:20px}.t30{margin-top:30px}.t60{margin-top:60px}
/* margin-left */
.l0{margin-left:0px}.l3{margin-left:3px}.l5{margin-left:5px}.l10{margin-left:10px}.l15{margin-left:15px}.l20{margin-left:20px}.l30{margin-left:30px}.l60{margin-left:60px}
/* margin-right */
.r0{margin-right:0px}.r3{margin-right:3px}.r5{margin-right:5px}.r10{margin-right:10px}.r15{margin-right:15px}.r20{margin-right:20px}.r30{margin-right:30px}.r60{margin-right:60px}

/* text-align */
.alignL{text-align:left !important}.alignC{text-align:center !important}.alignR{text-align:right !important}

table.no-border-table tr td,.no-border{border: none !important}

.floatL{float:left !important}.floatR{float:right !important}.clear{clear:both}
.half-width{width:50% !important}.almost-full-width{width:99% !important}.full-width{width:100% !important}

.hidden{
    display:none !important;
}

div.invisible,.invisible{opacity:0}

.loading-opacity{opacity: 0.5;pointer-events: none;cursor: default;}
.loading-opacity:before {font-size: 26px;position:absolute;color: #000;content: "Loading...";margin-left: 550px;z-index: 1000;}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

.gc-full-width {
    display: none!important;
}
.minimize-maximize-container {
    display: none!important;
}
.container-full {
    padding-left: 0px;
}

.table-section {
    border-top: 1px solid #DDD;
}
.table-section .table-label {
    display: none;
}



/* ADDONS */
.container {
  width: 100%;
}
